@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: rgba(255, 255, 255, 1);
  --color-text-secondary: rgba(255, 255, 255, 0.4);

  --color-pink-primary: rgba(238, 171, 189, 1);
  --color-row-hover: rgba(244, 188, 204, 1);

  --color-up: rgba(70, 193, 127, 1);
  --color-down: rgba(229, 56, 56, 1);

  --color-bg: rgba(0, 0, 0, 1);
  --color-border: rgba(60, 43, 47, 1);
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text-primary);
}

.table-row:hover {
  background-color: var(--color-row-hover);
}